.input-container {
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  background-color: #080420;
  padding: 0 2rem;
  padding-bottom: 0.3rem;
  .button-container {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    .emoji {
      position: relative;
      svg {
        font-size: 1.7rem;
        color: #ffff00c7;
      }
      .EmojiPickerReact {
        position: absolute;
        top: -370px;
        background-color: #080420;
        box-shadow: 0 5px 10px #9a86f3;
        border: 1px solid #9a86f3;
        .epr-category-nav {
          button {
            filter: contrast(5);
          }
        }
        .epr-search-container {
          input {
            border: 1px solid#9a86f3;
            background-color: transparent;
          }
        }
        .emoji-search {
          background-color: transparent;
          border: 1px solid #9a86f3;
        }
        .epr-emoji-category-label {
          background-color: #080420;
        }
        .epr-body::-webkit-scrollbar {
          background-color: #080420;
          width: 5px;
          &-thumb {
            background-color: #9a86f3;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .chat-input {
    display: flex;
    align-items: center;
    width: calc(100% - 1rem);
    background-color: #ffffff39;
    border-radius: 2rem;
    margin-right: 1rem;
    form {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      width: 100%;
      height: 35px;
      input {
        width: 90%;
        border-radius: 2rem;
        border: none;
        outline: none;
        padding-left: 1rem;
        color: white;
        background-color: transparent;
        font-size: 1rem;
        &::selection {
          background-color: #9a86f3;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        padding: 0.3rem 2rem;
        border-radius: 2rem;
        border: none;
        outline: none;
        background-color: #9a86f3;
        color: white;
        svg {
          font-size: 1.3rem;
        }
      }
    }
  }
}
